<script type="text/html" id="relationship-tp">
  <!-- 关联关系图-->
  <div id="relationship-chart" class="mt20" style="height:1000px;page-break-inside: avoid !important;"></div>
  <!--股东关系-->
  <p class="note-info">注：由于篇幅限制，本关系图中最多只展示3个股东、3个投资公司</p>
  <div class="share-ship content-box-body3 watermark">
    <h2 class="title">（一）股东关系</h2>
    <div class="content-box-body4">
      <table class="pdf-table">
        <thead>
        <tr>
          <th>股东名称（或姓名）</th>
          <th>持股比例</th>
          <th>认缴出资额（万元）</th>
        </tr>
        </thead>
        <tbody>
        {{if holderList===null || holderList.length===0}}
        <tr>
          <td colspan="3">暂无数据</td>
        </tr>
        {{else}}
        {{each holderList item index}}
        {{if index<10}}
        <tr>
          <td>{{item.name?item.name:'-'}}</td>
          <td>{{item.proportion?item.proportion:'-'}}</td>
          <td>{{item.money?item.money:'-'}}</td>
        </tr>
        {{/if}}
        {{/each}}
        {{/if}}
        </tbody>
      </table>
      {{if holderList.length >=10}}
      <p class="note-info">注：该项数据量较大，如需查看更多数据，请登录系统</p>
      {{/if}}
    </div>
  </div>
  <!--投资关系-->
  <div class="invest-ship content-box-body3 watermark">
    <h2 class="title">（二）投资关系</h2>
    <div class="content-box-body4">
      <table class="pdf-table">
        <thead>
        <tr>
          <th>企业名称</th>
          <th>注册资本（万元）</th>
          <th>持股比例</th>
          <th>企业状态</th>
        </tr>
        </thead>
        <tbody>
        {{if investorList===null || investorList.length===0}}
        <tr>
          <td colspan="4">暂无数据</td>
        </tr>
        {{else}}
        {{each investorList item index}}
        {{if index<10}}
        <tr>
          <td>{{item.name?item.name:'-'}}</td>
          <td>{{item.money?item.money:'-'}}</td>
          <td>{{item.proportion?item.proportion:'-'}}</td>
          <td>{{item.status?item.status:'-'}}</td>
        </tr>
        {{/if}}
        {{/each}}
        {{/if}}
        </tbody>
      </table>
      {{if investorList.length >=10}}
      <p class="note-info">注：该项数据量较大，如需查看更多数据，请登录系统</p>
      {{/if}}
    </div>
  </div>
</script>
